* {
  box-sizing: border-box;
}

:root {
  --text: rgb(85, 87, 71);
  --text2: rgb(60, 62, 46);
  --c1: rgb(255, 199, 199);
  --c2: rgb(255, 232, 192);
  --c3: rgb(255, 243, 143);
  --c4: rgb(185, 230, 181);
  --c5: rgb(183, 228, 255);
  --c6: rgb(230, 200, 246);
  --c7: rgb(255, 201, 228);
}

body {
  background: antiquewhite;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Varela Round', sans-serif;
  color: rgb(55, 57, 41);
}

.App {
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--text);
  text-decoration: none;
}

/* ------------------------------------- */
/* HEADER ------------------------------ */
/* ------------------------------------- */

.app-header {
  height: 80px;
  /* background: var(--c1); */
  background: lightcoral;
  width: 100%;
  margin-bottom: 1em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}
.buttons-wrapper {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.day-picker {
  border: none;
  background: transparent;
  padding: 0;
}
.nav-dropdown {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 2;
  background: lightcoral;
  border-radius: 0 0 10px 10px;
  width: 200px;
  padding: 0 1em 1em 1em;
}
.nav-dropdown ul {
  padding: 0;
  height: 100px;
  border-bottom: 2px solid var(--text);
  overflow-y: scroll;
}
.nav-dropdown li {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-button {
  border: none;
  background: transparent;
  height: 50%;
  padding: 0;
}
.calendar-icon {
  height: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* ------------------------------------- */
/* TILES ------------------------------- */
/* ------------------------------------- */

.tile {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: var(--c1);
  margin: 0 auto 1em auto;
  padding: 0 1em;
  width: 90%;
}
.hours {
  font-weight: bold;
}
.label {
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 0;
  font-size: 1.4em;
  color: var(--text2);
  width: 85%;
  overflow-wrap: break-word;
}
.tile-icon {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  width: 50px;
}
.overlay-inner {
  padding: 1em;
  font-size: 1.5em;
  position: relative;
  height: 100%;
}

.absolute-button {
  position: absolute;
  top: 2em;
  right: 1em;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-button::after,
.absolute-button::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: black;
}
.absolute-button::before {
  transform: rotateZ(45deg);
}
.absolute-button::after {
  transform: rotateZ(-45deg);
}
.buttons-svg {
  width: 80%;
}
.overlay-svg {
  position: absolute;
  bottom: 3em;
  right: 1em;
  width: 200px;
  transform: rotateZ(-10deg);
}
